language: php

php:
  - 5.2
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7
  - hhvm
  - test

env: TMPDIR=/tmp

install:
 - sh ./tests/install_dependencies.sh
 - phpenv rehash

script:
 - cd tests/
 - php runalltests.php
 
matrix:
  allow_failures:
   - php: hhvm
