<phpunit bootstrap="./TestHelper.php">
    <testsuite name="Zend Framework - Testsuite">
        <directory>./</directory>
    </testsuite>

    <!-- Enable this for proper unit testing code coverage reports
    <filter>
        <whitelist>
            <directory suffix=".php">../library/Zend</directory>
        </whitelist>
    </filter>
    -->
</phpunit>
