[production]
autoloadernamespaces[] = "CloudExplorer_"

phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0
includePaths.library = APPLICATION_PATH "/../library"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
appnamespace = "Application"
resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.frontController.params.displayExceptions = 0

storage.storage_adapter = "Zend_Cloud_StorageService_Adapter_S3"
storage.bucket_name = cloudexp
storage.aws_accesskey = TEST
storage.aws_secretkey = TEST

queue.queue_adapter = "Zend_Cloud_QueueService_Adapter_WindowsAzure"
queue.storage_host = "queue.core.windows.net"
queue.storage_accountname = TEST
queue.storage_accountkey = TEST

[staging : production]

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1
